body {
    background: url("https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.weatherBg{
    /* height: 32vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .heading{
    color: rgb(216 195 132);
    font-weight: 700;
  }
  .weatherResultBox{
    background-color: #a3f6fe;
    margin: auto;
    width: 700px;
    height: 300px;
    box-shadow: black 2px 4px 20px 3px !important;
  }
  .weathorIcon{
    width: 100px;
    height: 100px;
  }
  .weathorCity{
  font-size: 3rem;
    color: #226b78;
  }
  .weathorTemp{
    font-size: 2.3rem;
    font-weight: 700;
    color : #388391
  }

  .btn:hover {
    background-color: #7e6109;
    color: white;
    /* color: blue; */
  }

  .btn{
    font-size: 1.2rem;
    font-weight: 500;
    width: 200px;
  }

  .left p, .right p {
    color: #388391;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .left h5, .right h5 {
    color: #226b78;
    font-size: 1.7rem;
  }

  .description{
    color: #1f7483;
  }

  /* Animation */

  .heading{
    animation: animating 4s linear infinite;
  } 
   
  @keyframes animating{
    0%{
      opacity: 0.3;
      color: #ffffff;
    }
    50%{
      opacity: 1;
      color: #ffc107;
    }
    100%{
      opacity: 0.3;
      color: #f8f8f8;
    }
  } 

  /* responsive */

  @media  (max-width: 575px) {
        .responsive{
            max-width: 300px;
            margin-top: 12%;
        }

        h1{
            font-size: 2rem;
        }

        .left p, .right p {
          font-size: 1rem;
        }
      
        .left h5, .right h5 {
          font-size: 1rem;
        }

        .weathorTemp{
          font-size: 1.7rem;
        }

        .weathorCity{
          font-size: 2rem;
        }

  }
